# Configuración de API para desarrollo local
# Reemplaza con tu clave API real de Google Gemini
VITE_GEMINI_API_KEY=AIzaSyAcko2herQK18cLi9g9AFxagjRAjRwkPdQ

# Configuración de AccuWeather (opcional)
VITE_ACCUWEATHER_API_KEY=cwAyQwpxcukFk4zVbtjUDmMI7WGpa8GE

# Configuración de PexelS (opcional)
VITE_PEXELS_API_KEY=your-kSiWzssyYIwlwxUHW9MWn0GwenaAkN2lhx7jH1TbJn70mbjTiEL9SzcS

# Configuración de Google Analytics (opcional)
VITE_GA_MEASUREMENT_ID=G-2Q5EJ94KNR

# Configuración de Google Tag Manager (opcional)
VITE_GTM_ID=GTM-W92QTGF4

# Configuración de AdSense (opcional)
VITE_ADSENSE_CLIENT_ID=ca-pub-7049246836044228

# Configuración de entorno
NODE_ENV=development
VITE_APP_ENV=development 